/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  0% {
    left: -20px;
  }
  100% {
    left: -16px;
  }
}

@keyframes scaleHeart {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes toggleSparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* heart styles */

.like-icon {
  cursor: pointer;
}

.like-icon:hover .core {
  opacity: 1;
}

.like-icon:hover .main-body {
  opacity: 1;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--heart-color);
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--heart-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: 0.3s ease-in 0.1s 2 alternate scaleHeart;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--heart-color);
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s 2 alternate toggleSparks;
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.06s;
}

.core {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s, fill 0.3s;
}

.main-body {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s 0.05s, fill 0.3s 0.05s;
}

.sparks {
  fill: var(--heart-color);
  opacity: 0;
}

/* heart styles end */