.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  background-color: var(--page-background);
  color: var(--text-color);
  background-image: var(--page-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.max-width {
  width: min(100%, var(--content-width));
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  padding-top: clamp(7.5rem, 6.346rem + 4.923vw, 8.5rem);
  background-color: var(--page-background);
  border: 2px solid currentColor;
  font-family: var(--font-accent);
  height: clamp(327px, 327px + 41 * (100vw - 320px) / 1120, 368px);
}

.header__logo {
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.card {
  background-color: var(--page-background);
  border: 2px solid currentColor;
}

.card__title {
  padding: 5px 10px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}

.card__image_full {
  position: relative;
  margin: 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* фильтры */

.card:nth-of-type(1) .card__image {
  filter: none;
}

.card:nth-of-type(2) .card__image {
  filter: saturate(200%) contrast(200%);
}

.card:nth-of-type(3) .card__image {
  filter: brightness(110%) hue-rotate(270deg);
}

.card:nth-of-type(4) .card__image {
  filter: blur(5px) sepia(60%);
}

.card:nth-of-type(5) .card__image {
  filter: contrast(150%) grayscale(70%);
}

.card:nth-of-type(6) .card__image {
  filter: hue-rotate(120deg) invert(85%);
}

.card:nth-of-type(7) .card__image {
  filter: contrast(180%) brightness(70%);
}

.card:nth-of-type(8) .card__image {
  filter: hue-rotate(45deg) saturate(300%);
}

/* фильтры закончились */

.card__image-caption {
  position: absolute;
  top: clamp(1.5625rem, 1.4183rem + 0.6154vw, 1.6875rem);
  right: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1px 0 var(--page-background), 0 1px var(--page-background),
    1px 0 var(--page-background), 0 -1px var(--page-background);
}

@supports (-webkit-text-stroke: 1px var(--page-background)) {
  .card__image-caption {
    -webkit-text-stroke: 1px var(--page-background);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__paragraph {
  margin-bottom: 27px;
}

.card__paragraph:last-of-type {
  margin-bottom: 25px;
}

.card__buttons {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
}

.card__like-button {
  min-width: 130px;
  padding: 10px 17px;
}

.button-fillable {
  position: relative;
  cursor: pointer;
  border: 2px solid currentColor;
  background: var(--page-background, #fff);
  font-family: var(--font-accent);
  font-size: 14px;
  transition: box-shadow ease 0.3s;
}

.button-fillable:focus {
  outline: none;
}



.button-fillable::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border: inherit;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out;
}

.button-fillable:hover::before {
  content: "";
  scale: 1;
}

.button-fillable > * {
  color: var(--button-color);
  mix-blend-mode: difference; /* заливка текста */
  position: relative;
}

.footer {
  background: var(--page-background, #fff);
  max-width: calc(100% * 310 / 375);
}

.footer__button {
  gap: 8px;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  width: clamp(1.3125rem, 2.2548rem + -2.1538vw, 1.75rem);
}

.dialog {
  color: var(--text-color);
  border: 2px solid currentColor;
  background-color: var(--page-background, #fff);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: clamp(1.875rem, 3.221rem + -3.077vw, 2.5rem);
  padding-right: clamp(1.875rem, 3.221rem + -3.077vw, 2.5rem);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  max-width: clamp(21.313rem, 20.159rem + 4.923vw, 22.313rem);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  text-transform: uppercase;
  padding: 9px 17px;
}