:root {
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --page-background: #fff;
  --text-color: #000;
  --button-color: #fff;
  --heart-outline: #000;
  --page-gradient:
    repeating-linear-gradient(to right,#d3d3d3 0 2px,transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
  --heart-fill: #ff0000;
  --font-primary: "Inter", sans-serif;
  --font-accent: "Press Start 2P", fantasy;
  --content-width: 700px;
}