/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* theme dependent */
  --main-font-weight: 400;
  --title-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  /* independent */
  --heart-color: #ff0000;
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P", fantasy;
  --max-width: 700px;
}